<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{% link accueil.html %}" class="footer_link">Le club</a>
            </div>
            <div class="col-md-3">
                <a href="{% link les-courses.html %}" class="footer_link">Les courses</a>
                <a href="https://www.esv91.com/page/488533-castor-garou" target="_blank" rel="noopener noreferrer" class="bouton-bulle mt-4">Inscription</a>
            </div>
            <div class="col-md-3">
                <a href="{% link galerie.html %}" class="footer_link">Galerie</a>
            </div>
        </div>
    </div>
</footer>