<div id="navbar-container">
    <div class="container">
        <header id="navbar">
            <div id="navbar-logo">
                <img src="assets/img/logo.svg" alt="Logo le Tacot et la Renarde">
            </div>
            <div id="navbar-toggle" onclick="document.getElementById('navbar').classList.toggle('open')">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="navbar-socials-sm">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div id="navbar-nav">
                <nav id="navbar-links">
                    <a href="{% link accueil.html %}">Le club</a>
                    <a href="{% link les-courses.html %}">Les courses</a>
                    <a href="{% link galerie.html %}">Galerie</a>
                </nav>
            </div>
            <div id="navbar-socials">
                <i class="fa-brands fa-instagram"></i>
            </div>
        </header>
    </div>
</div>